<html>
<head>
</head>
<title>
Buyer Contact Info
</title>
<body>
  <form class="searchBar" action="search/" method="post">
{% csrf_token %}

<input type="text"  name ="term" size="15"><input type="submit" value = "Search">

  </form>


<style >


        table, th, td{
            width:60%;
        margin-left:20%;
        margin-right:20%;
                height: 10px;
              border:1px solid black;
              border-collapse:collapse;
              }
    th, td
    {
    padding: 5px;
    text-align: center;
    }

    th
    {
    background-color: red;
    color: black;
    }
</style>
<table id="Buyers">


    <tbody>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
        </tr>
        {%block looper%}
        {% for index, row in table %}
        <tr>

            <td>{{row.Name}}</td>
            <td>{{row.Phone}}</td>
            <td>{{row.Email}}</td>
            <td>{{row.Address}}</td>



        </tr>
    </tbody>
    {% endfor %}
    {% endblock %}


</table>

</body>
</html>
